@tailwind base;
@tailwind components;
@tailwind utilities;

#contenedorPrincipal {
    height: 700px;
    width: 800px;
    background: fixed url(assets/img/table.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}